.togglePosition {
  align-self: center;
}
.marginNavItem{
    margin-right: 300px;
}
.gapNavItem{
    gap:70px
}
@media (max-width:1400px)
{
    .marginNavItem{
        margin-right: 200px;
    }
}
@media (max-width: 991px) {
  .togglePosition {
    align-self: flex-start;
  }
  .gapNavItem{
      gap:0px
  }
  .marginNavItem{
      margin-right: 0px;
  }
}
.clockInfo{
  height: 35vh;
  width: auto;
}