.backgroundLight {
  /* background-image: linear-gradient(45deg, #085bff, #c8cee1); */
  background-image: linear-gradient(45deg, #00e7ff, #00adff);
}
.bg-mid {
  backdrop-filter: brightness(0.7);
}
.backgroundDark {
  background-image: linear-gradient(45deg, #282828, #420b46);
}
.backgroundTransparent{
  background-color: transparent;
}
.backgroundTransparent .modal-content{
  background-color: transparent;
  border: 0;
}
.minHeightContainer {
  min-height: calc(100vh - 56px);
}
.clockInfo {
  height: 193.85px;
  width: auto;
}
.border {
  background-color: gray;
  padding: 20px;
}
#secHand {
  height: 72px;
  top: 25.5px;
  left: 95.5px;
  width: 2px;
  transform-origin: bottom;
  background-color: #ddc01b;
}
#minHand {
  height: 55px;
  top: 42.5px;
  left: 95.5px;
  width: 2px;
  transform-origin: bottom;
  background-color: #ddc01b;
}
#hourHand {
  height: 50px;
  top: 47.5px;
  left: 95.5px;
  width: 2px;
  transform-origin: bottom;
  background-color: #ddc01b;
}
.mhexcludingNav {
  min-height: calc(100vh - 56px);
}
.bgSlighDarkWhite {
  /* background-color: #d9d9d9 !important */
  backdrop-filter: brightness(0.6);
}
.ClockDataClass {
  display: flex;
  justify-content: center;
  width: 100%;
}
.activeClockDataClass {
  border: 2px solid olivedrab;
}
.cursorPointer {
  cursor: pointer;
}

.clockSubModulesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.clockSubModules {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
}
.blink {
  animation: blinkTime 1.3s infinite;
}
@keyframes blinkTime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.clockSubModulesIcons {
  transition: 0.8s;
}
.clockSubModulesIcons:active {
  transform: scale(2);
}
.questionMark {
  text-align: end;
  margin-right: 35px;
}
@media (max-width: 991px) {
  .questionMark {
    margin-right: 75px;
  }
}
@media (max-width: 767px) {
  .questionMark {
    margin-right: 35px;
  }
}
.starpriority {
  fill: gold;
}

#dropdown-basic::after {
  display: none;
}

/* .inputAddTodo{
  border: 0;
} */
.inputAddTodo:focus {
  box-shadow: none;
}
.alarmSelectBox {
  width: 100%;
  padding: 5px;
  background-color: rgb(216, 215, 215);
}
.alarmInputBox {
  width: 100%;
  padding: 5px;
  background-color: rgb(216, 215, 215);
  border: 1px solid gray;
}

.confirmBtn:has(.confirmBtnAlarm:hover) {
  .alarmInputBox {
    background-image: linear-gradient(45deg, #0e4b0e, #002615);
    color: white !important;
    border: 1px solid white;
  }
  .alarmSelectBox {
    background-image: linear-gradient(45deg, #0e4b0e, #002615);
    color: white !important;
  }
  color: white !important;
  background-image: linear-gradient(45deg, #0e4b0e, #002615);
}
.confirmBtn:has(.cancelBtnAlarm:hover) {
  .alarmInputBox {
    background-image: linear-gradient(45deg, #740202, #360808);
    color: white !important;
    border: 1px solid white;
  }
  .alarmSelectBox {
    background-image: linear-gradient(45deg, #740202, #360808);
    color: white !important;
  }
  color: white !important;
  background-image: linear-gradient(45deg, #740202, #360808);
}

.ConfirmModalColor:has(.deleteTaskModalBtn:hover) {
  background-image: linear-gradient(45deg, #740202, #360808);
  color: white !important;

}
.ConfirmModalColor:has(.dontDeleteTaskModalBtn:hover) {
  background-image: linear-gradient(45deg, #0e4b0e, #002615);
  color: white !important;

}
.ConfirmModalColor:has(.restoreTaskBtn:hover) {
  background-image: linear-gradient(45deg, #0e4b0e, #002615);
  color: white !important;

}
.ConfirmModalColor:has(.CloseModal:hover) {
  background-image: linear-gradient(45deg, #740202, #360808);
  color: white !important;

}
.ConfirmModalColor:has(.saveEditModal:hover) {
  background-image: linear-gradient(45deg, #0e4b0e, #002615);
  color: white !important;

}
.alarmDays {
  padding: 12px;
  border: 1px solid white;
  border-radius: 50%;
}
.alarmDays:hover,
.alarmDays.active {
  background-color: #7c7c7c;
}

.colorDropdownAlarm {
  background-color: #7c7c7c;
}
.backgroundIncognito {
  height: calc(100vh - 56px);
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: -20;
}
.adjustonIncognito {
  min-height: calc(100vh - 56px);
}
@media (max-width: 767px) {
  .backgroundIncognito {
    width: 90%;
  }
  .incognitoImg {
    height: 170px;
    width: 250px;
  }
}
@media (max-width: 1033px) {
  .adjustonIncognito {
    min-height: calc(100vh - 38px);
  }
}
.dropdownFilterMain {
  border: 0;
  background-color: transparent;
}
.dropdownFilter {
  background-color: black;
  color: white;
}
.filterdropdownActive {
  background-color: #323232;
}
.dropdownFilter:hover {
  background-color: #323232;
  color: white;
}
.topDropdownFilter {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bottomDropdownFilter {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btn-close {
  background-color: white;
}
.zindex2 {
  z-index: 2;
}
.mainClockClass {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todoDiv {
  display: flex;
  align-items: center;
  margin-bottom: 1.7rem;
  padding: 10px;
  border: 1px solid;
  border-radius: 54px;
  box-shadow: -6px 20px 7px 0px #0a0609;
}
.imptodoDiv {
  border: 1px solid goldenrod;
}
.modalBorderRadiusAndShadow{
  border-radius: 50px;
  box-shadow: 5px 9px 20px 2px #60605f;
}
