.backgroundLight {
  /* background-image: linear-gradient(45deg, #085bff, #c8cee1); */
  /* background-image: linear-gradient(45deg, #00e7ff, #00adff); */
  /* background-image: linear-gradient(45deg, #d4ffcc, #00adff); */
  /* background-image: linear-gradient(45deg, #52644f, #00adff); */
  /* background-image: linear-gradient(45deg, #ffeb00,#8e8deb, #04ff00); */

  background: linear-gradient(
    90deg,
    rgb(92 178 201) 0%,
    rgba(128, 255, 217, 1) 100%
  );
}
.bg-mid {
  backdrop-filter: brightness(0.7);
}
.backgroundDark {
  background-image: linear-gradient(45deg, #282828, #420b46);
}
.backgroundTransparent {
  background-color: transparent;
}
.backgroundTransparent .modal-content {
  background-color: transparent;
  border: 0;
}

.togglePosition {
  align-self: center;
  margin-right: 40px;
}
#settingDropdown {
  margin-top: -5px;
  display: inline-block;
  transition: transform 0.5s ease;
}
#settingDropdown::after {
  content: none;
}
.dropdown-menu {
  padding: 0;
  margin-left: -150px;
}
.dropdown-item {
  padding: 10px;
}
#settingDropdown:active {
  transform: rotate(180deg);
  transform-origin: center;
}
.marginNavItem {
  margin-right: 300px;
}
.gapNavItem {
  gap: 70px;
}
@media (max-width: 1400px) {
  .marginNavItem {
    margin-right: 200px;
  }
}
@media (max-width: 991px) {
  .togglePosition {
    align-self: flex-start;
  }
  #settingDropdown {
    margin-top: 0px;
  }
  .dropdown-menu {
    margin-top: 0px;
    margin-left: 0px;
  }
  .gapNavItem {
    gap: 0px;
  }
  .marginNavItem {
    margin-right: 0px;
  }
}
.bg-black.settingDropdownItems:hover {
  background-color: #442244 !important;
}
.bgSlighDarkWhite.settingDropdownItems:hover {
  background-color: #7979ab;
}
.minHeightContainer {
  min-height: calc(100vh - 56px);
}
.clockInfo {
  height: 193.85px;
  width: auto;
}
.ClassClock2 {
  background-color: gray;
  padding: 20px;
}
.ClassClock3 {
  background-color: rgb(5 0 76);
  padding: 20px;
  font-family: cursive;
}
#secHand {
  height: 72px;
  top: 25.5px;
  left: 95.5px;
  width: 2px;
  transform-origin: bottom;
  background-color: #ddc01b;
}
#minHand {
  height: 55px;
  top: 42.5px;
  left: 95.5px;
  width: 2px;
  transform-origin: bottom;
  background-color: #ddc01b;
}
#hourHand {
  height: 50px;
  top: 47.5px;
  left: 95.5px;
  width: 2px;
  transform-origin: bottom;
  background-color: #ddc01b;
}
.mhexcludingNav {
  min-height: calc(100vh - 56px);
  padding-top: 56px;
}
.bgSlighDarkWhite {
  /* background-color: #d9d9d9 !important */
  backdrop-filter: brightness(0.7);
}
.ClockDataClass {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.activeClockDataClass {
  border: 2px solid olivedrab;
}
.cursorPointer {
  cursor: pointer;
}

.clockSubModulesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.clockSubModules {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
}
.blink {
  animation: blinkTime 1.3s infinite;
}
@keyframes blinkTime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.clockSubModulesIcons {
  transition: 0.8s;
}
.clockSubModulesIcons:active {
  transform: scale(2);
}
.questionMark {
  text-align: end;
  margin-right: 35px;
}
@media (max-width: 991px) {
  .questionMark {
    margin-right: 75px;
  }
}
@media (max-width: 767px) {
  .questionMark {
    margin-right: 35px;
  }
}
.starpriority {
  fill: gold;
}

#dropdown-basic::after {
  display: none;
}

/* .inputAddTodo{
  border: 0;
} */
.inputAddTodo:focus {
  box-shadow: none;
}
.alarmSelectBox {
  width: 100%;
  padding: 5px;
  background-color: rgb(216, 215, 215);
}
.alarmInputBox {
  width: 100%;
  padding: 5px;
  background-color: rgb(216, 215, 215);
  border: 1px solid gray;
}

.confirmBtn:has(.confirmBtnAlarm:hover) {
  .alarmInputBox {
    background-image: linear-gradient(45deg, #0e4b0e, #002615);
    color: white !important;
    border: 1px solid white;
  }
  .alarmSelectBox {
    background-image: linear-gradient(45deg, #0e4b0e, #002615);
    color: white !important;
  }
  color: white !important;
  background-image: linear-gradient(45deg, #0e4b0e, #002615);
}
.confirmBtn:has(.cancelBtnAlarm:hover) {
  .alarmInputBox {
    background-image: linear-gradient(45deg, #740202, #360808);
    color: white !important;
    border: 1px solid white;
  }
  .alarmSelectBox {
    background-image: linear-gradient(45deg, #740202, #360808);
    color: white !important;
  }
  color: white !important;
  background-image: linear-gradient(45deg, #740202, #360808);
}

.ConfirmModalColor:has(.RedModal:hover) {
  background-image: linear-gradient(45deg, #740202, #360808);
  color: white !important;
}
.ConfirmModalColor:has(.GreenModal:hover) {
  background-image: linear-gradient(45deg, #0e4b0e, #002615);
  color: white !important;
}
.alarmDays {
  padding: 12px;
  border: 1px solid white;
  border-radius: 50%;
}
.alarmDays:hover,
.alarmDays.active {
  background-color: #7c7c7c;
}

.colorDropdownAlarm {
  background-color: #7c7c7c;
}
.backgroundIncognito {
  height: calc(100vh - 56px);
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: -20;
}
.adjustonIncognito {
  min-height: calc(100vh - 56px);
}
@media (max-width: 767px) {
  .backgroundIncognito {
    width: 90%;
  }
  .incognitoImg {
    height: 170px;
    width: 250px;
  }
}
@media (max-width: 1033px) {
  .adjustonIncognito {
    min-height: calc(100vh - 38px);
  }
}
.dropdownFilterMain {
  border: 0;
  background-color: transparent;
}
.dropdownFilter {
  background-color: black;
  color: white;
}
.filterdropdownActive {
  background-color: #323232;
}
.dropdownFilter:hover {
  background-color: #323232;
  color: white;
}
.topDropdownFilter {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bottomDropdownFilter {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btn-close {
  background-color: white;
}
.zindex2 {
  z-index: 2;
}
.mainClockClass {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todoDiv {
  display: flex;
  align-items: center;
  margin-bottom: 1.7rem;
  padding: 10px;
  border: 1px solid;
  border-radius: 54px;
  box-shadow: -6px 20px 7px 0px #0a0609;
}
.imptodoDiv {
  border: 1px solid goldenrod;
}
.modalBorderRadiusAndShadow {
  border-radius: 50px;
  box-shadow: 5px 9px 20px 2px #60605f;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px) rotate(-8deg);
  }
  50% {
    transform: translateX(8px) rotate(8deg);
  }
  75% {
    transform: translateX(-8px) rotate(-8deg);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-image {
  animation: shake 0.6s linear 1s infinite both;
}

.pauseBtn {
  background-color: rebeccapurple;
}
.colorWhite {
  color: white;
}
.btnDarkTheme {
  background-color: rebeccapurple;
  color: white;
  font-weight: 500;
  border: 0px;
}
.btnDarkTheme:hover {
  background-color: rgb(75, 29, 122);
  border: 0px;
}

.btnLightTheme {
  background-color: #fff;
  color: black;
  font-weight: 500;
  border: 0px;
}
.btnLightTheme:hover {
  background-color: gray;
}

.disintegrate {
  animation: disintegrate-animation 1s ease-in-out forwards;
}

@keyframes disintegrate-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}
.integrate {
  animation: integrate-animation 1s ease-in-out forwards;
}

@keyframes integrate-animation {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
  }
}
.dropdown-toggle::after {
  display: none !important;
}

.badgeClassFilter {
  margin-right: 0.5rem;
  border-radius: 45px;
  display: flex;
  align-items: center;
}
.text-white.NavActiveCSS {
  color: #f778ff !important;
}
.text-white.navItemClass:hover {
  color: #f778ff !important;
}
.text-black.NavActiveCSS {
  color: wheat !important;
}
.text-black.navItemClass:hover {
  color: wheat !important;
}

.fw600 {
  font-weight: 600 !important;
}

.backgroundLight .badge {
  color: black;
  font-weight: 700;
}

/* fw-600    white*/

.navbarFixed {
  border-bottom: 2px solid black;
  position: fixed;
  width: 100%;
}
.text-black.navbarFixed {
  background: linear-gradient(
    90deg,
    rgb(95 161 179) 0%,
    rgba(128, 255, 217, 1) 100%
  );
}
.toggleTaskStatus input {
  border-radius: 50px !important;
  cursor: pointer;
}

/* width: 88%;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 80vh; */

.contentDoesntOverflow {
  width: 95%;
  margin: 0 auto;
  overflow-y: auto;
  max-height: 80vh;
  word-wrap: break-word; /* For older browsers */
  overflow-wrap: break-word; /* For newer browsers */
}

.downloadButton:hover{
  /* border: 1px solid black; */
  color: rgb(110, 183, 105);
}
