.togglePosition {
    align-self: center;
    margin-right: 40px;
  }
  #settingDropdown {
    margin-top: -5px;
    display: inline-block;
    transition: transform 0.5s ease;
  }
  #settingDropdown::after {
    content: none;
  }
  .dropdown-menu {
    padding: 0;
    margin-left: -150px;
  }
  .dropdown-item{
    padding: 10px;
  }
  #settingDropdown:active {
    transform: rotate(180deg);
    transform-origin: center;
  }
  
  .marginNavItem {
    margin-right: 300px;
  }
  .gapNavItem {
    gap: 70px;
  }
  @media (max-width: 1400px) {
    .marginNavItem {
      margin-right: 200px;
    }
  }
  @media (max-width: 991px) {
    .togglePosition {
      align-self: flex-start;
    }
    #settingDropdown {
      margin-top: 0px;
    }
    .dropdown-menu {
      margin-top: 0px;
      margin-left: 0px;
    }
    .gapNavItem {
      gap: 0px;
    }
    .marginNavItem {
      margin-right: 0px;
    }
  }
  .bg-black.settingDropdownItems:hover{
    background-color: #442244 !important;
  }
  .bgSlighDarkWhite.settingDropdownItems:hover{
    background-color: #7979ab;
  }